OCR/
vendor/
.cache/
.paddlex/
.venv/
.env
__pycache__/
*.py[cod]
.pytest_cache/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

outputs/*
!outputs/.gitkeep
!outputs/layout/
outputs/layout/*
!outputs/layout/train.log
!outputs/layout/train_metrics.csv
!outputs/layout/train_summary.txt
!outputs/layout/train_result.json
!outputs/layout/config.yaml

!outputs/layout/best_model/
outputs/layout/best_model/*
!outputs/layout/best_model/inference/
outputs/layout/best_model/inference/*
!outputs/layout/best_model/inference/inference.json
!outputs/layout/best_model/inference/inference.yml
!outputs/layout/best_model/inference/inference.pdiparams

logs/*
!logs/.gitkeep

models/*.tar
models/*.zip
