models/*.pdparams filter=lfs diff=lfs merge=lfs -text
outputs/layout/best_model/inference/inference.pdiparams filter=lfs diff=lfs merge=lfs -text
outputs/recognition/best_accuracy.pdparams filter=lfs diff=lfs merge=lfs -text
outputs/recognition/best_accuracy.pdopt filter=lfs diff=lfs merge=lfs -text
outputs/recognition/inference/inference.pdiparams filter=lfs diff=lfs merge=lfs -text
